@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

html{
  scroll-behavior: smooth;
}

body{
  height: 500vh;
}

.divContainer{
  border: 1px solid black;
  height: 500px;

  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  gap: 10px 5px;
}

.divContainer > div{
  width: 100px;
  height: 100px;
  background-color: bisque;
  /* border: 3px solid black; */

  font-size: 30px;
  font-weight: bold;
  /* flex: 1; */
}

.order_1{
  order: 1;
}
.order_2{
  order: 2;
}
.order_negative_1{
  order: -1;
}

div.flex_grow_2{
  /* flex: 2; */
}

.divContainer > div:hover{
  align-self: flex-end;
}


/* 
header{
}
header > div{
}
header > nav{
}
*/

header{
  height: 80px;
  padding: 0 20px;
  background-color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;

  > div{
    height: 80%;
    /* margin-left: 30px; */

    >a{
      height: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;

      > img{
        height: 100%;
      }
      > span{
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: black;
      }
    }
  }
  > nav{
    /* margin-right: 30px; */
    > ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      gap: 10px;

      > li{
        > a{
          text-decoration: none;
          color: black;
          font-size: 20px;
        }
        > a:hover{
          color: green;
        }
      }
    }
  }
}

#flexPvz{
  position: sticky;
  top: 80px;
}

[id]{
  scroll-margin-top: 80px;
}