@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

main > section{
  padding: 30px 15vw;
}
header, footer{
  padding: 0 15vw;
}

#hero{
  background-image: url("../media/nature8.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;

  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(201, 201, 204, 0.4);
  }

  > div{
    position: relative;
    width: 40vw;

  }
}

#about{
  background-color: aliceblue;

  > .cardList{
    display: flex;
    justify-content: space-between;
    gap: 10px;

    > div{
      box-shadow: 0 0 10px 3px #797979;
      width: 100%;
      padding: 5px;
      text-align: center;
    }
  }
}

#offers{
  height: 50vh;
  display: flex;
  gap: 30px;

  > div{
    width: 100%;
    height: 100%;
  }
  > div:nth-child(1){
    
  }
  > div:nth-child(2){
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 2fr 1fr); /* 2fr 1fr 2fr 1fr */

    > img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    > img:nth-child(1){
      grid-area: 1 / 2 / 3 / 5;
    }
    > img:nth-child(2){
      grid-area: 3 / 3 / 5 / 6;
    }
    > img:nth-child(3){
      grid-area: 2 / 1 / 4 / 4;
    }
  }
}